=form_for @item do |f|
  =f.label :title
  =f.text_field :title

  =f.label :link
  =f.text_field :link

  =f.label :author
  =f.text_field :author

  =f.label :keywords
  =f.text_field :keywords

  =f.label :cdata
  =f.text_area :cdata, rows: 6

  =f.label :file_name
  =f.text_field :file_name

  =f.label :audio_dir, "Audio File Path"
  =f.text_field :audio_dir, placeholder: "public-html/ratrace/podcast"

  =f.label :podcast_dir, "Podcast File Path"
  =f.text_field :podcast_dir, placeholder: "public-html/acts/acts14-6-23.mp3"

  =f.label "FTP Address"
  =f.text_area :address

  =f.label :username
  =f.text_field :username

  =f.label :password
  =f.text_field :password, :type => "password"

  =f.submit
